.container_client{
    display: flex;
   
    /* min-width: 600px; */
    /* height: 60px; */
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 0 8px rgba(128, 128, 128, 0.192); */
   
    margin-bottom: 10px;
    border-radius: 10px;

}


.form_client{
 
   width: 70%;
}

.form_client_box{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-between; */
   
}

.client_input{
    height: 30px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.364);
    border-radius: 5px;
    margin: 5px;
   padding-left:10px;
    transition: 0.3s;
}

.client_input:hover{
    transform: scale(1.03);
}

.client_area{
    height: 80px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.364);
    border-radius: 5px;
    margin: 5px;
    padding-top: 10px;
   padding-left:10px;
    transition: 0.3s;
}

.client_area:hover{
    transform: scale(1.03);
}

.message_error{
    padding: 10px;
    border-radius: 12px;
    background-color:#3C475B;
    margin: 5px;
    font-size: 0.8rem;
    color: white;
}

.message_send{
    padding: 10px;
    border-radius: 12px;
    background-color: #78C47A;
    margin: 5px;
    font-size: 0.8rem;
    color: white;
}

.Span_info{
    margin-left: 5px;
    color: #a04a4ac1;
    font-size: 0.7rem;
}


.Span_info_2{
    margin-left: 5px;
    color: #3c475b8e;
    font-size: 0.7rem;
}




